<app-card title="Table Demo Component">

    <div card-content>
        <p class="text-xl">This component demonstrates the usage of the generic table component.</p>
        <p class="text-xl mb-4">
            It provides a data source, columns, and action buttons to demonstrate the table's
            functionality.
        </p>

        <app-generic-table [dataSource]="dataSource" [columns]="columns" [actions]="actions" />

        <app-date-range-picker [initialDateRange]="range()"
            (dateRangeChange)="onDateRangeChange($event)"></app-date-range-picker>

        <button mat-flat-button color="primary" (click)="test()">Add Row</button>
    </div>

</app-card>
