<div class="create-order-page h-auto overflow-visible">
  <div class="progress-bar-container bg-gray-200 sticky py-2 top-0 z-10">
    <app-progress-bar
      [steps]="[
        { label: 'Bestellung erstellen', tooltip: 'Beschreibung für Step 1' },
        { label: 'Bestellung erstellt', tooltip: 'Beschreibung für Step 2' },
        { label: 'Zustimmungen erteilt', tooltip: 'Beschreibung für Step 3' },
        {
          label: 'Dekan Zustimmung erteilt',
          tooltip: 'Beschreibung für Step 4'
        }
      ]"
      [currentStepIndex]="progressBarStepIndex"
    ></app-progress-bar>
  </div>
  <mat-divider></mat-divider>
  <mat-tab-group
    #tabGroup
    mat-stretch-tabs="true"
    mat-align-tabs="start"
    class="mb-4"
  >
    <!-- General Information -->
    <mat-tab label="Bestellung erstellen">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="general-info-container">
        <app-form-component
          [config]="generalFormConfig"
          [formGroup]="generalFormGroup"
        ></app-form-component>
        <div class="cost-center-container">
          <app-form-component
            [config]="primaryCostCenterFormConfig"
            [formGroup]="primaryCostCenterFormGroup"
          ></app-form-component>

          <app-form-component
            [config]="secondaryCostCenterFormConfig"
            [formGroup]="secondaryCostCenterFormGroup"
          ></app-form-component>
        </div>
        <div class="queries-person-container">
          <app-form-component
            [config]="queriesPersonFormConfig"
            [formGroup]="queriesPersonFormGroup"
          ></app-form-component>
        </div>
        <button
          mat-raised-button
          class="w-full"
          color="primary"
          (click)="createOrder()"
        >
          Bestellung anlegen
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
