.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  --mdc-filled-text-field-container-color: #f5f5f5;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
  background-color: #ff884d;
}

::ng-deep .mat-form-field-ripple {
  background-color: #ff884d;
}
