<div class="add-person-page h-auto overflow-visible">
  <mat-divider style="background-color: purple"></mat-divider>
  <div style="justify-content: flex-end overflow-visible">
    <div class="form-container flex overflow-visible">
      <!-- Left column: Supplier + CustomerId -->
      <div class="left-column flex flex-col basis-1/2 p-8">
        <div class="person-data-container overflow-visible">
          <app-form-component
            [config]="supplierFormConfig"
            [formGroup]="supplierForm"
            [editMode]="true"
          ></app-form-component>
        </div>
        <div class="customer-data-container overflow-visible mt-8">
          <app-form-component
            class=""
            [config]="customerIdFormConfig"
            [formGroup]="customerIdForm"
            [tableDataSource]="customerIDsTableDataSource"
            [tableColumns]="customerIDsTableColumns"
          ></app-form-component>
        </div>
      </div>
      <mat-divider
        [vertical]="true"
        style="border-right-width: 4px; background-color: purple"
      ></mat-divider>

      <!-- Right Column: Address -->
      <div class="right-column flex-1 p-8">
        <div class="address-data-container overflow-visible flex-1">
          <app-address-form
            [config]="addressFormConfig"
            [formGroup]="addressForm"
            [editMode]="true"
          ></app-address-form>
        </div>

        <div class="buttons flex justify-end gap-x-2">
          <button mat-raised-button color="primary" (click)="onSubmit()">Speichern</button>
          <button mat-raised-button color="warn" (click)="onBack()" aria-label="cancel">
            Verwerfen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
