<mat-tab-group #tabGroup mat-stretch-tabs="true" mat-align-tabs="start">
  <mat-tab label="Kostenstellen verwalten">
    <mat-divider style="background-color: purple"></mat-divider>
    <div class="pt-3">
      <app-generic-table
        [dataSource]="costCentersDataSource"
        [columns]="costCentersTableColumns"
        [pageSize]="50"></app-generic-table>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mr-2">add_circle</mat-icon>
      <span>Neue Kostenstelle anlegen</span>
    </ng-template>

    <mat-divider style="background-color: purple"></mat-divider>

    <div class="flex justify-center p-8">
      <div class="add-cost-center-page w-1/2 overflow-visible">
        <div class="cost-center-data-container overflow-visible">
          <app-form-component
            [config]="costCenterFormConfig"
            [formGroup]="costCenterForm"></app-form-component>
        </div>
        <div class="buttons flex justify-end overflow-visible mt-4">
          <button mat-raised-button color="primary" (click)="onSubmit()">Speichern</button>
          <button
            mat-raised-button
            color="warn"
            (click)="onBack()"
            aria-label="cancel"
            class="ml-4">
            Verwerfen
          </button>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
