<div class="h-screen">
  <mat-tab-group #tabGroup mat-stretch-tabs="true" mat-align-tabs="start">
    <mat-tab label="Lieferanten verwalten">
      <mat-divider style="background-color: darkgrey"></mat-divider>
      <div class="pt-3">
        <app-generic-table
          [dataSource]="suppliersDataSource"
          [columns]="suppliersTableColumns"
          [actions]="actions"
          [pageSize]="50"
        ></app-generic-table>
      </div>
    </mat-tab>

    <mat-tab label="Neuen Lieferanten anlegen">
      <div class="add-supplier-page h-auto overflow-visible">
        <mat-divider style="background-color: purple"></mat-divider>
        <div style="justify-content: flex-end overflow-visible">
          <div class="form-container flex overflow-visible">
            <!-- Left column : Supplier + CustomerId -->
            <div class="left-column flex flex-col basis-1/2 p-8">
              <div class="person-data-container overflow-visible">
                <app-form-component
                  [config]="supplierFormConfig"
                  [formGroup]="supplierFormGroup"
                ></app-form-component>
              </div>
              <div class="customer-data-container overflow-visible mt-8">
                <app-form-component
                  [config]="customerIdFormConfig"
                  [formGroup]="customerIdForm"
                ></app-form-component>
              </div>
            </div>
            <mat-divider
              [vertical]="true"
              style="border-right-width: 4px; background-color: purple"
            ></mat-divider>

            <!-- Right column: Address -->

            <div class="right-column flex-1 p-8">
              <div class="address-mode-selector mb-4">
                <mat-button-toggle-group
                  [value]="addressMode()"
                  (change)="onAddressModeChange($event)"
                  class="address-toggle-group"
                >
                  <mat-button-toggle value="search">
                    <mat-icon>search</mat-icon>
                    <span>Adresse suchen</span>
                  </mat-button-toggle>
                  <mat-button-toggle value="new">
                    <mat-icon>add</mat-icon>
                    <span>Neue Adresse anlegen</span>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>

              @if (addressMode() === 'search') {
                <div class="address-search-container overflow-visible flex-1">
                  <app-form-component
                    [config]="nominatimAddressFormConfig"
                    [formGroup]="nominatimAddressFormGroup"
                    (searchEvent)="onSearch($event)"
                  ></app-form-component>
                </div>
                <div class="address-search-results mt-4">
                  <app-generic-table
                    [dataSource]="nominatimTableDataSource()"
                    [columns]="nominatimResponseTableColumns"
                    [pageSize]="5"
                    (rowClicked)="onAddressInTableSelected($event)"
                  ></app-generic-table>
                </div>
                <app-form-component
                  [config]="addressFormConfig"
                  [formGroup]="addressFormGroup"
                ></app-form-component>
              }
              @if (addressMode() === 'new') {
                <div class="address-data-container overflow-visible flex-1">
                  <app-form-component
                    [config]="addressFormConfig"
                    [formGroup]="addressFormGroup"
                  ></app-form-component>
                </div>
              }

              <div class="buttons flex justify-end gap-x-2">
                <button mat-raised-button color="primary" (click)="onSubmit()">Speichern</button>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="onBack()"
                  aria-label="cancel"
                  style="margin-right: 16px"
                >
                  Verwerfen
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
