<div class="flex flex-col gap-2">
    <button matIconButton color="accent" (click)="startTour()" matTooltip="Filtermenü erklären lassen"
        aria-label="Filtermenü erklären lassen"
        class="!absolute top-8 -right-2 z-100">
        <mat-icon>help</mat-icon>
    </button>

    <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-2">
            <button matButton (click)="accordion().openAll()"
                class="tour-expand-all-filters">Alles&nbsp;ausklappen</button>
            <button matButton (click)="accordion().closeAll()"
                class="tour-collapse-all-filters">Alles&nbsp;einklappen</button>
        </div>
        <button matButton color="warn" (click)="onReset()" class="tour-reset-filters">Reset</button>
    </div>

    <mat-divider class="bg-gray-500"></mat-divider>

    <div class="flex flex-col gap-2 tour-filter-presets">
        <mat-chip-listbox #presets multiple>
            @for (preset of filterPresets(); track $index) {
            <mat-chip-option (selectionChange)="onPresetSelectionChange($event, preset)"
                [selected]="isPresetApplied(preset)">
                {{ preset.label }}
            </mat-chip-option>
            }
        </mat-chip-listbox>

        <div class="flex flex-row gap-2">
            <button mat-stroked-button color="accent" (click)="editFilterPresets()" class="tour-edit-filter-presets">
                <mat-icon>edit</mat-icon>
                Presets&nbsp;bearbeiten
            </button>
            <button mat-stroked-button color="primary" (click)="saveCurrentFiltersAsPreset()"
                class="tour-save-filter-preset">
                <mat-icon>add</mat-icon>
                Als&nbsp;Preset&nbsp;speichern
            </button>
        </div>
    </div>

    <mat-accordion multi>

        @for (filter of availableFilters; track $index) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="font-bold text-base">{{ filter.title }}</mat-panel-title>
            </mat-expansion-panel-header>

            @switch (filter.type) {
            @case ('date-range') {
            <app-date-range-picker card-content [minDate]="filter.data?.minDate ?? null"
                [maxDate]="filter.data?.maxDate ?? null" [(dateRange)]="dateRanges[filter.key]">
            </app-date-range-picker>
            }
            @case ('select') {
            <app-chip-selection card-content [inputLabel]="filter.data?.inputLabel ?? filter.title"
                [inputPlaceholder]="filter.data?.inputPlaceholder ?? ''" [(items)]="chips[filter.key]">
            </app-chip-selection>
            }
            @case ('range') {
            <app-range-selection-slider card-content [minValue]="filter.data?.minValue ?? 0"
                [maxValue]="filter.data?.maxValue ?? 1" [(selectedRange)]="ranges[filter.key]">
            </app-range-selection-slider>
            }
            }

        </mat-expansion-panel>
        }

        <mat-expansion-panel [(expanded)]="isColumnSelectionExpanded" class="tour-filter-column-selection">
            <mat-expansion-panel-header>
                <mat-panel-title class="font-bold text-base">Spaltenauswahl</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="w-full mt-4">
                <mat-label>Spalten</mat-label>
                <mat-select [formControl]="selectedColumnsControl" multiple>
                    @for (column of ordersTableColumns(); track $index) {
                    <mat-option [value]="column.id">{{column.label}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </mat-expansion-panel>

    </mat-accordion>

</div>
