<div
  class="homebar fixed top-0 left-0 w-full h-20 z-50 bg-he-darkblue flex items-center"
>
  <div class="homebar__logo">
  <img
    class="h-16 mx-8 w-auto object-contain cursor-pointer"
    src="assets/pics/logo_hochschule_esslingen_negativ_de.png"
    alt="Logo"
    (click)="navigateToHome()"
  />
</div>

  <nav class="homebar__navigation flex gap-4">
    <app-navbar-button
      label="Startseite"
      routerLink="/"
      [isExact]="true"
    ></app-navbar-button>
    <app-navbar-button
      label="Bestellungen"
      routerLink="/orders"
      [isExact]="false"
    ></app-navbar-button>
    <app-navbar-button
      label="Lieferanten"
      routerLink="/suppliers"
      [isExact]="false"
    ></app-navbar-button>
    <app-navbar-button
      label="Personen"
      routerLink="/persons"
      [isExact]="false"
    ></app-navbar-button>
    <app-navbar-button
      label="Kostenstellen"
      routerLink="/cost-centers"
      [isExact]="false"
    ></app-navbar-button>
  </nav>

  <div class="homebar__user ml-auto mr-8">
    @if (authService.hasValidToken()) {
    <button mat-flat-button color="accent" (click)="authService.logout()">
      Logout
    </button>
    } @else {
    <button mat-flat-button color="primary" (click)="authService.login()">
      Login
    </button>
    }
  </div>
</div>
