@use "sass:color";

tr:nth-child(2n) {
  background-color: #f0f0f0;
}

td {
  white-space: normal;
  word-wrap: break-word;
  hyphens: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

table {
  width: 100%;
}

.mat-column-actions {
  width: 1%;
  white-space: nowrap;
}



.mat-mdc-header-cell {
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  padding: 16px;
}


$color: #00AADC;

// Data-Zeilen
.mat-mdc-row {
  background-color: #ffffff;
  height: 48px;
  border-bottom: 1px solid #e0e0e0;

  &.selected {
    // background-color: #ede7f6; // selected row color
    background-color: color.adjust($color, $lightness: 35%); // selected row color
  }

  &:hover {
    background-color: color.adjust($color, $lightness: 45%); // row hover color
    cursor: pointer;
  }

  &.selected:hover {
    background-color: color.adjust($color, $lightness: 40%); // selected row hover color
  }
}

.mat-mdc-cell {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 16px;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
  color: var(--color-he-grey);
}

tr.mat-mdc-header-row th {
  font-weight: bold;
}
