tr:nth-child(2n) {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #bfbfbf;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    hyphens: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

table {
    width: 100%;
}

.mat-column-actions {
    width: 1%;
    white-space: nowrap;
}

tr.selected {
  background-color: rgba(25, 118, 210, 0.1); /* leichtes Blau */
}

tr.selected:hover {
  background-color: rgba(25, 118, 210, 0.2);
}

// Container mit lila Rahmen und runden Ecken
.overflow-x-auto {
  border: 2px solid #7b3fe4; // lila Rahmen
  border-radius: 8px;
  overflow: hidden; // damit die Border nicht "durchscheint"
}


.mat-mdc-header-cell {
  color: #fff; // Weiße Schrift
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  padding: 16px;
}

// Data-Zeilen
.mat-mdc-row {
  background-color: #ffffff;
  height: 48px;
  border-bottom: 1px solid #e0e0e0;

  &:hover {
    background-color: #f5f5f5; // leichter Hover
    cursor: pointer;
  }

  &.selected {
    background-color: #ede7f6; // leicht lila für ausgewählte Row
  }
}

.mat-mdc-cell {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 16px;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

tr.mat-mdc-header-row th {
  font-weight: bold;
}
