tr:nth-child(2n) {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #bfbfbf;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    hyphens: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

table {
    width: 100%;
}

.mat-column-actions {
    width: 1%;
    white-space: nowrap;
}
