tr:nth-child(2n) {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #bfbfbf;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    hyphens: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

table {
    width: 100%;
}

.mat-column-actions {
    width: 1%;
    white-space: nowrap;
}

tr.selected {
  background-color: rgba(25, 118, 210, 0.1); /* leichtes Blau */
}

tr.selected:hover {
  background-color: rgba(25, 118, 210, 0.2);
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

tr.mat-mdc-header-row th {
  font-weight: bold;
}
