<mat-tab-group
  #tabGroup
  mat-stretch-tabs="true"
  mat-align-tabs="start"
>
  <mat-tab label="Personen verwalten">
    <mat-divider
      style="background-color: darkgrey; color: darkgrey"
    ></mat-divider>
    <div class="pt-3">
      <app-generic-table
        [dataSource]="personsDataSource"
        [columns]="personsTableColumns"
        [actions]="actions"
        [pageSize]="50"
      ></app-generic-table>
    </div>
  </mat-tab>

  <mat-tab label="Neue Person anlegen" class="overflow-visible">
    <mat-divider
      style="background-color: darkgrey; color: darkgrey"
    ></mat-divider>
    <div class="add-person-page" style="justify-content: flex-end overflow-visible">
      <div class="form-container flex space-x-5 pt-3 overflow-y-visible">
        <div class="person-data-container p-8 bg-white overflow-visible">
          <app-form-component
            [config]="personsFormConfig"
            [formGroup]="personForm"
          ></app-form-component>
        </div>
        <div class="address-data-container bg-white overflow-visible">
          <app-address-form
            [config]="addressFormConfig"
            [formGroup]="addressForm"
            [tableDataSource]="addressTableDataSource"
            [tableColumns]="addressTableColumns"
            (valueChanged)="onAddressFormValueChanged($event)"
            (addressSelected)="onAddressSelected($event)"
          ></app-address-form>
        </div>
      </div>
      <div class="buttons flex justify-end overflow-visible">
        <button mat-raised-button color="primary" (click)="onSubmit()">Speichern</button>
        <button
          mat-raised-button
          color="warn"
          (click)="onBack()"
          aria-label="cancel"
          style="margin-right: 16px;"
        >
          Verwerfen
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
