<h1 class="m-2 text-2xl font-semibold">Filter Demo Component</h1>

<div class="flex flex-wrap gap-4 flex-childs-grow">

    <app-card title="Date Range Picker">

        <div card-content>
            <p>This component demonstrates the usage of the date range picker.</p>
            <p class="mb-4">You can select a date range using the date range picker below.</p>

            <app-date-range-picker [dateRange]="dateRange()"
                (dateRangeChanged)="onDateRangeChange($event)"></app-date-range-picker>
            <button mat-flat-button color="primary" (click)="changeDate()"
                class="!min-w-fit">change&nbsp;date&nbsp;range</button>

        </div>

    </app-card>


    <app-card title="Range Selection Slider">

        <div card-content>
            <p>This component demonstrates the usage of the range selection slider.</p>
            <p class="mb-4">You can select a range of values using the slider below.</p>

            <app-range-selection-slider [(selectedRange)]="range" (rangeChanged)="onRangeChange($event)" />
            <button mat-flat-button color="primary" (click)="changeRange()">
                change&nbsp;range
            </button>

        </div>

    </app-card>


    <app-card title="Chip Selection">

        <div card-content>
            <p>This component demonstrates the usage of the chip selection component.</p>
            <p class="mb-4">You can select multiple items using the chips below.</p>

            <app-chip-selection [(items)]="items" (selectionChanged)="onChipChange($event)" />
            <button mat-flat-button color="primary" (click)="useCustomChipData()">
                use&nbsp;custom&nbsp;chip&nbsp;data
            </button>
        </div>

    </app-card>

</div>
