<div class="create-order-page h-auto overflow-visible">
  <div class="progress-bar-container bg-gray-200 py-2 top-0 z-10">
    <app-progress-bar
      [steps]="[
        { label: 'Bestellung erstellen', tooltip: 'Beschreibung für Step 1' },
        { label: 'Bestellung erstellt', tooltip: 'Beschreibung für Step 2' },
        { label: 'Zustimmungen erteilt', tooltip: 'Beschreibung für Step 3' },
        {
          label: 'Dekan Zustimmung erteilt',
          tooltip: 'Beschreibung für Step 4'
        }
      ]"
      [currentStepIndex]="currentProgressBarStepIndex"
    ></app-progress-bar>
  </div>
  <mat-divider></mat-divider>
  <mat-tab-group
    mat-stretch-tabs="true"
    mat-align-tabs="start"
    class="mb-4"
    [selectedIndex]="selectedTabIndex()"
    (selectedTabChange)="onTabIndexChange($event.index)"
  >
    <!-- General Information -->
    <mat-tab label="Bestellung erstellen">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="general-info-container">
        <app-form-component
          [config]="generalFormConfig"
          [formGroup]="generalFormGroup"
          [editMode]="true"
        ></app-form-component>
        <div class="cost-center-container">
          <app-form-component
            [config]="primaryCostCenterFormConfig"
            [formGroup]="primaryCostCenterFormGroup"
            [refreshTrigger]="primaryCostCenterConfigRefreshTrigger()"
            [editMode]="true"
          ></app-form-component>

          <app-form-component
            [config]="secondaryCostCenterFormConfig"
            [formGroup]="secondaryCostCenterFormGroup"
            [refreshTrigger]="secondaryCostCenterConfigRefreshTrigger()"
          ></app-form-component>
        </div>
        <div class="queries-person-container">
          <app-form-component
            [config]="queriesPersonFormConfig"
            [formGroup]="queriesPersonFormGroup"
            [refreshTrigger]="queriesPersonConfigRefreshTrigger()"
          ></app-form-component>
        </div>
        <app-order-documents [order]="order"></app-order-documents>
        <div class="button container w-fit flex flex-row ml-auto gap-2">
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('General')"
          >
            Speichern und weiter
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('All')"
          >
            Alles speichern
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('General')"
          >
            Änderungen auf dieser Seite verwerfen
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('All')"
          >
            Alle Änderungen verwerfen
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Hauptangebot festlegen">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="main-offer-tab-container">
        <!-- Hauptangebot -->
        <div class="main-offer-container justify-center">
          <app-form-component
            [config]="mainOfferFormConfig"
            [formGroup]="mainOfferFormGroup"
            [refreshTrigger]="mainOfferConfigRefreshTrigger()"
            (valueChanged)="onMainOfferFormGroupChanged($event)"
          ></app-form-component>
        </div>

        <!-- Begründung der Lieferantenauswahl -->
        <div class="supplier-decision-reason-container justify-center mt-8">
          <app-form-component
            [config]="supplierDecisionReasonFormConfig"
            [formGroup]="supplierDecisionReasonFormGroup"
            (valueChanged)="onSupplierDecisionReasonChanged($event)"
          ></app-form-component>
        </div>
        <div class="button container w-fit flex flex-row ml-auto gap-2 mt-2">
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('MainOffer')"
          >
            Speichern und weiter
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('All')"
          >
            Alles speichern
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('MainOffer')"
          >
            Änderungen auf dieser Seite verwerfen
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('All')"
          >
            Alle Änderungen verwerfen
          </button>
        </div>
      </div>
    </mat-tab>

    <!-- Add Item -->
    <mat-tab label="Bestellpositionen">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="item-container">
        <app-form-component
          [config]="orderItemFormConfig"
          [formGroup]="orderItemFormGroup"
        ></app-form-component>
        <button
          mat-raised-button
          class="mb-4 w-full"
          color="primary"
          (click)="onAddItem()"
        >
          Position hinzufügen
        </button>
        <div class="table-container">
          <app-generic-table
            [dataSource]="itemTableDataSource"
            [columns]="orderItemColumns"
            [actions]="orderItemTableActions"
          ></app-generic-table>
        </div>
        <div class="button container w-fit flex flex-row ml-auto gap-2 mt-2">
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('Items')"
          >
            Speichern und weiter
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('All')"
          >
            Alles speichern
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('Items')"
          >
            Änderungen auf dieser Seite verwerfen
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('All')"
          >
            Alle Änderungen verwerfen
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Vergleichsangebote">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="quotation-container">
        <app-form-component
          [config]="quotationFormConfig"
          [formGroup]="quotationFormGroup"
        ></app-form-component>
        <button
          mat-raised-button
          class="w-full mb-4"
          color="primary"
          (click)="onAddQuotation()"
        >
          Vergleichsangebot hinzufügen
        </button>
        <div class="table-container w-full">
          <app-generic-table
            [dataSource]="quotationTableDataSource"
            [columns]="orderQuotationColumns"
            [actions]="orderQuotationTableActions"
          ></app-generic-table>
        </div>
        <div class="button container w-fit flex flex-row ml-auto gap-2">
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('Quotations')"
          >
            Speichern und weiter
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('All')"
          >
            Alles speichern
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('Quotations')"
          >
            Änderungen auf dieser Seite verwerfen
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('All')"
          >
            Alle Änderungen verwerfen
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Adressdaten">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="address-container">
        <div class="recipient-container flex flex-col mb-4">
          <app-form-component
            [config]="deliveryPersonFormConfig"
            [formGroup]="deliveryPersonFormGroup"
            (valueChanged)="onAddressPersonSelected($event, true)"
            [refreshTrigger]="deliveryPersonConfigRefreshTrigger()"
          ></app-form-component>
        </div>
        <div class="delivery-address-container mt-4">
          <mat-button-toggle-group
            name="deliveryAddressOptions"
            [(ngModel)]="deliveryAddressOption"
            (change)="onAddressOptionChanged($event.value, true)"
            aria-label="Addressoption auswählen"
            class="w-full flex"
          >
            <!-- -->
            @if(deliveryPersonHasExistingAddress) {
            <mat-button-toggle value="existing" class="flex-1"
              >Gespeicherte Lieferadresse</mat-button-toggle
            >
            }
            <mat-button-toggle
              value="preferred"
              [disabled]="!deliveryPersonHasPreferredAddress"
              class="flex-1"
            >
              Bevorzugte Adresse
            </mat-button-toggle>

            <mat-button-toggle value="selected" class="flex-1">
              Bestehende Adresse auswählen
            </mat-button-toggle>

            <mat-button-toggle value="new" class="flex-1">
              Neue Adresse erstellen
            </mat-button-toggle>
          </mat-button-toggle-group>
          <div class="delivery-info mt-4">
            <!-- Info Text -->
            <p class="mt-2 mb-2 text-sm text-red-700">
              {{ deliveryInfoText }}
            </p>
          </div>
          <div class="spacing-container my-4"></div>
          <!-- Table for existing addresses -->
          @if (deliveryAddressOption === 'selected') {
          <div class="table-container w-full my-4">
            @if (addressTableDataSource.data.length > 0) {
            <app-generic-table
              [dataSource]="addressTableDataSource"
              [columns]="addressTableColumns"
              (rowClicked)="onAddressInTableSelected($event, true)"
            ></app-generic-table>
            } @else {
            <p class="mt-2 mb-2 text-sm text-gray-700">
              Fehler beim Laden der Adressen. Bitte versuchen Sie es später
              erneut.
            </p>
            }
          </div>
          }
          <app-form-component
            [config]="deliveryAddressFormConfig"
            [formGroup]="deliveryAddressFormGroup"
          ></app-form-component>
          @if (selectedDeliveryPerson) {
          <div class="flex flex-col">
            <label class="block mb-2 text-sm font-semibold text-gray-700">
              Entspricht Empfänger und Lieferadresse dem Rechnungsempfänger und
              der Rechnungsadresse?
            </label>
            <mat-radio-group
              [(ngModel)]="sameAsRecipient"
              class="flex space-x-4"
            >
              <mat-radio-button [value]="true">Ja</mat-radio-button>
              <mat-radio-button [value]="false">Nein</mat-radio-button>
            </mat-radio-group>
          </div>
          }
          <!-- Rechnungsadresse -->
          @if(!sameAsRecipient && selectedDeliveryPerson) {
          <div class="invoice-address-container mt-4">
            <app-form-component
              [config]="invoicePersonFormConfig"
              [formGroup]="invoicePersonFormGroup"
              (valueChanged)="onAddressPersonSelected($event, false)"
              [refreshTrigger]="invoicePersonConfigRefreshTrigger()"
            ></app-form-component>

            @if (selectedInvoicePerson) {
            <mat-button-toggle-group
              name="invoiceAddressOptions"
              (change)="onAddressOptionChanged($event.value, false)"
              aria-label="Addressoption auswählen"
              [(ngModel)]="invoiceAddressOption"
              class="flex-1"
            >
              <!-- Existing Address -->
              @if(invoicePersonHasExistingAddress) {
              <mat-button-toggle value="existing" class="flex-1"
                >Gespeicherte Rechnungsadresse</mat-button-toggle
              >
              }
              <mat-button-toggle
                value="preferred"
                [disabled]="!invoicePersonHasPreferredAddress"
                class="flex-1"
              >
                Bevorzugte Adresse
              </mat-button-toggle>
              <mat-button-toggle value="selected" class="flex-1">
                Bestehende Adresse auswählen
              </mat-button-toggle>
              <mat-button-toggle value="new" class="flex-1">
                Neue Adresse erstellen
              </mat-button-toggle>
            </mat-button-toggle-group>

            <div class="invoice-info mt-4">
              <!-- Info Text -->
              <p class="mt-2 mb-2 text-sm text-red-700">
                {{ invoiceInfoText }}
              </p>
            </div>

            <!-- Table for existing addresses -->
            @if (invoiceAddressOption === 'selected') {
            <div class="table-container w-full mt-4">
              @if (addressTableDataSource.data.length > 0) {
              <app-generic-table
                [dataSource]="addressTableDataSource"
                [columns]="addressTableColumns"
                (rowClicked)="onAddressInTableSelected($event, false)"
              ></app-generic-table>
              } @else {
              <p class="mt-2 mb-2 text-sm text-gray-700">
                Fehler beim Laden der Adressen. Bitte versuchen Sie es später
                erneut.
              </p>
              }
            </div>
            }

            <app-form-component
              [config]="invoiceAddressFormConfig"
              [formGroup]="invoiceAddressFormGroup"
            ></app-form-component>
            }
          </div>
          }
          <button
            mat-raised-button
            class="mb-4 mt-4 w-full"
            color="primary"
            (click)="patchOrderFromForm('Addresses')"
          >
            Adressdaten speichern
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('All')"
          >
            Alles speichern
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('MainOffer')"
          >
            Änderungen auf dieser Seite verwerfen
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('All')"
          >
            Alle Änderungen verwerfen
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Zustimmungen">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="approval-container">
        <app-form-component
          [config]="approvalFormConfig"
          [formGroup]="approvalFormGroup"
        ></app-form-component>
        <div class="button container w-fit flex flex-row ml-auto gap-2">
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('Approvals')"
          >
            Speichern
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="primary"
            (click)="patchOrderFromForm('All')"
          >
            Alles speichern
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('Approvals')"
          >
            Änderungen auf dieser Seite verwerfen
          </button>
          <button
            mat-raised-button
            class="w-full"
            color="warn"
            (click)="resetToDefault('All')"
          >
            Alle Änderungen verwerfen
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
