$form-width: calc(6 / 10 * 100%); // 60% der Breite des Containers

.create-order-page {

  min-height: 100vh;
}

.main-offer-container,
.supplier-decision-reason-container,
.general-info-container,
.item-container,
.quotation-container,
.recipient-container,
.delivery-address-container,
.approval-container {
  width: $form-width;
  margin: 0 auto; // center the divs horizontally
  padding: 1rem;
}

.tab-divider {
  background: purple;
  margin-bottom: 1rem;
  height: 2px;
}

