<div class="create-order-page h-auto overflow-visible">
  <div class="progress-bar-container bg-gray-200 sticky py-2 top-0 z-10">
    <app-progress-bar
      [steps]="[
        { label: 'Bestellung erstellen', tooltip: 'Beschreibung für Step 1' },
        { label: 'Bestellung erstellt', tooltip: 'Beschreibung für Step 2' },
        { label: 'Zustimmungen erteilt', tooltip: 'Beschreibung für Step 3' },
        {
          label: 'Dekan Zustimmung erteilt',
          tooltip: 'Beschreibung für Step 4'
        }
      ]"
      [currentStepIndex]="0"
    ></app-progress-bar>
  </div>
  <mat-divider></mat-divider>
  <mat-tab-group
    #tabGroup
    mat-stretch-tabs="true"
    mat-align-tabs="start"
    class="mb-4"
  >
    <!-- General Information -->
    <mat-tab label="Bestellung erstellen">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="general-info-container">
        <app-form-component
          [config]="generalFormConfig"
          [formGroup]="generalFormGroup"
        ></app-form-component>
        <div class="cost-center-container">
          <app-form-component
            [config]="primaryCostCenterFormConfig"
            [formGroup]="primaryCostCenterFormGroup"
            [refreshTrigger]="primaryCostCenterConfigRefreshTrigger()"
          ></app-form-component>

          <app-form-component
            [config]="secondaryCostCenterFormConfig"
            [formGroup]="secondaryCostCenterFormGroup"
            [refreshTrigger]="secondaryCostCenterConfigRefreshTrigger()"
          ></app-form-component>
        </div>
        <div class="queries-person-container">
          <app-form-component
            [config]="queriesPersonFormConfig"
            [formGroup]="queriesPersonFormGroup"
            [refreshTrigger]="queriesPersonConfigRefreshTrigger()"
            (valueChanged)="onQueriesPersonFormGroupChanged($event)"
          ></app-form-component>
        </div>
        <button
          mat-raised-button
          class="w-full"
          color="primary"
          (click)="createOrder()"
        >
          Bestellung anlegen
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Hauptangebot festlegen">
      <mat-divider class="tab-divider"></mat-divider>
      <div
        class="flex flex-col items-center justify-center min-h-full w-full overflow-y-auto"
      >
        <!-- Hauptangebot -->
        <div class="main-offer-container justify-center">
          <app-form-component
            [config]="mainOfferFormConfig"
            [formGroup]="mainOfferFormGroup"
            [refreshTrigger]="mainOfferConfigRefreshTrigger()"
            (valueChanged)="onMainOfferFormGroupChanged($event)"
          ></app-form-component>
        </div>

        <!-- Begründung der Lieferantenauswahl -->
        <div class="supplier-decision-reason-container justify-center">
          <app-form-component
            [config]="supplierDecisionReasonFormConfig"
            [formGroup]="supplierDecisionReasonFormGroup"
            (valueChanged)="onSupplierDecisionReasonChanged($event)"
          ></app-form-component>
        </div>
      </div>
    </mat-tab>

    <!-- Add Item -->
    <mat-tab label="Bestellpositionen">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="item-container">
        <app-form-component
          [config]="orderItemFormConfig"
          [formGroup]="orderItemFormGroup"
        ></app-form-component>
        <button
          mat-raised-button
          class="mb-4 w-full"
          color="primary"
          (click)="onAddItem()"
        >
          Position hinzufügen
        </button>
        <div class="table-container">
          <app-generic-table
            [dataSource]="itemTableDataSource"
            [columns]="orderItemColumns"
            [actions]="orderItemTableActions"
          ></app-generic-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Vergleichsangebote">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="quotation-container">
        <app-form-component
          [config]="quotationFormConfig"
          [formGroup]="quotationFormGroup"
        ></app-form-component>
        <button
          mat-raised-button
          class="w-full mb-4"
          color="primary"
          (click)="onAddQuotation()"
        >
          Vergleichsangebot hinzufügen
        </button>
        <div class="table-container w-full">
          <app-generic-table
            [dataSource]="quotationTableDataSource"
            [columns]="orderQuotationColumns"
            [actions]="orderQuotationTableActions"
          ></app-generic-table>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Adressdaten">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="address-container">
        <div class="text-2xl font-bold mb-4 mt-4 ml-8">
          Adressdaten
          <div class="recipient-container flex flex-col mb-4">
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Sendungsempfänger auswählen</mat-label>
              <input
                #inputRecipient
                matInput
                [matAutocomplete]="autoRecipient"
                required
                (input)="filterPersons(true)"
                (focus)="filterPersons(true)"
              />

              <mat-autocomplete
                #autoRecipient="matAutocomplete"
                [requireSelection]="true"
                [displayWith]="displayPerson"
                (optionSelected)="onPersonSelected($event.option.value, true)"
              >
                @for (person of filteredPersonsRecipient; track person.id) {
                <mat-option [value]="person">{{ person.fullName }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <!-- Info Text -->
            <p class="mt-2 mb-2 text-sm text-red-700">
              {{ recipientInfoText }}
            </p>

            @if (selectedRecipientPerson) {
            <mat-button-toggle-group
              name="recipientAddressOption"
              [(ngModel)]="recipientAddressOption"
              (change)="onAddressOptionChange($event.value, true)"
              aria-label="Adresse auswählen"
              class="w-full flex"
            >
              <mat-button-toggle
                value="preferred"
                [disabled]="!recipientHasPreferredAddress"
                class="flex-1"
              >
                Bevorzugte Adresse
              </mat-button-toggle>
              <mat-button-toggle value="existing" class="flex-1">
                Bestehende Adresse auswählen
              </mat-button-toggle>
              <mat-button-toggle value="new" class="flex-1">
                Neue Adresse erstellen
              </mat-button-toggle>
            </mat-button-toggle-group>
            }
            <div class="spacing-container my-4"></div>
            <!-- Table for existing addresses -->
            @if (recipientAddressOption === 'existing' &&
            selectedRecipientPerson) {
            <div class="table-container w-full">
              @if (addressTableDataSource.data.length > 0) {
              <app-generic-table
                [dataSource]="addressTableDataSource"
                [columns]="addressTableColumns"
                (rowClicked)="onAddressSelected($event, true)"
              ></app-generic-table>
              } @else {
              <p class="mt-2 mb-2 text-sm text-gray-700">
                Fehler beim Laden der Adressen. Bitte versuchen Sie es später
                erneut.
              </p>
              }
            </div>
            } @if (selectedRecipientPerson) {
            <app-form-component
              [config]="recipientAddressFormConfig"
              [formGroup]="recipientAddressFormGroup"
            ></app-form-component>

            }
          </div>
          @if (selectedRecipientPerson) {
          <div class="flex flex-col">
            <label class="block mb-2 text-sm font-semibold text-gray-700">
              Entspricht Empfänger und Lieferadresse dem Rechnungsempfänger und
              der Rechnungsadresse?
            </label>
            <mat-radio-group
              [(ngModel)]="sameAsRecipient"
              class="flex space-x-4"
            >
              <mat-radio-button [value]="true">Ja</mat-radio-button>
              <mat-radio-button [value]="false">Nein</mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Rechnungsadresse -->
          } @if(!sameAsRecipient && selectedRecipientPerson) {
          <div class="invoice-address-container mt-4">
            <h3 class="text-xl font-bold mb-4">Rechnungsadresse</h3>

            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Rechnungsempfänger auswählen</mat-label>
              <input
                #inputInvoice
                matInput
                [matAutocomplete]="autoInvoice"
                required
                (input)="filterPersons(false)"
                (focus)="filterPersons(false)"
              />

              <mat-autocomplete
                #autoInvoice="matAutocomplete"
                [requireSelection]="true"
                [displayWith]="displayPerson"
                (optionSelected)="onPersonSelected($event.option.value, false)"
              >
                @for (person of filteredPersonsInvoice; track person.id) {
                <mat-option [value]="person">{{ person.fullName }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <!-- Info Text -->
            <p class="mt-2 mb-2 text-sm text-red-700">
              {{ invoiceInfoText }}
            </p>
            @if (selectedInvoicePerson) {
            <mat-button-toggle-group
              name="invoiceAddressOption"
              [(ngModel)]="invoiceAddressOption"
              (change)="onAddressOptionChange($event.value, false)"
              aria-label="Adresse auswählen"
              class="w-full flex"
            >
              <mat-button-toggle
                value="preferred"
                [disabled]="!invoiceHasPreferredAddress"
                class="flex-1"
              >
                Bevorzugte Adresse
              </mat-button-toggle>
              <mat-button-toggle value="existing" class="flex-1">
                Bestehende Adresse auswählen
              </mat-button-toggle>
              <mat-button-toggle value="new" class="flex-1">
                Neue Adresse erstellen
              </mat-button-toggle>
            </mat-button-toggle-group>

            <!-- Table for existing addresses -->
            @if (invoiceAddressOption === 'existing') {
            <div class="table-container w-full mt-4">
              @if (addressTableDataSource.data.length > 0) {
              <app-generic-table
                [dataSource]="addressTableDataSource"
                [columns]="addressTableColumns"
                (rowClicked)="onAddressSelected($event, false)"
              ></app-generic-table>
              } @else {
              <p class="mt-2 mb-2 text-sm text-gray-700">
                Fehler beim Laden der Adressen. Bitte versuchen Sie es später
                erneut.
              </p>
              }
            </div>
            }

            <app-form-component
              [config]="invoiceAddressFormConfig"
              [formGroup]="invoiceAddressFormGroup"
            ></app-form-component>
            }
          </div>
          } @if (selectedRecipientPerson) {
          <button
            mat-raised-button
            class="mb-4 mt-4 w-full"
            color="primary"
            (click)="locallySaveAddressFormInput()"
          >
            Adressdaten speichern
          </button>
          }
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Zustimmungen">
      <mat-divider class="tab-divider"></mat-divider>
      <div class="approval-container">
        <app-form-component
          [config]="approvalFormConfig"
          [formGroup]="approvalFormGroup"
        ></app-form-component>
        <button
          mat-raised-button
          class="ml-8 mb-4 mt-4 w-full"
          color="primary"
          (click)="locallySaveApprovalFormInput()"
        >
          Zustimmungen zwischenspeichern
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
