.open {
  translate: 0 0;
  transition: all 0.3s ease;
}

.closed {
  translate: -25rem 0;
  transition: all 0.3s ease;
}

.expanded {
  margin-left: -24rem;
  width: 100%;
  transition:
    margin-left 0.3s ease,
    width 0.3s ease;
}

.collapsed {
  margin-left: 1rem;
  width: calc(100% - 24rem);
  transition:
    margin-left 0.3s ease,
    width 0.3s ease;
}

.mat-mdc-select {
  color: white;
}

// FAB always on top, even above autocomplete dropdowns
.mdc-fab {
  z-index: 10000;
}
