<div class="tour-edit-presets-dialog">
  <h2 mat-dialog-title>Presets</h2>

  <mat-dialog-content>
    <app-generic-table [dataSource]="datasource" [columns]="columns" [actions]="actions" />
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-stroked-button
      cdkFocusInitial
      (click)="close()"
      color="warn"
      [disabled]="dialogRef.disableClose"
    >
      Abbrechen
    </button>
    <button
      mat-flat-button
      (click)="saveChanges()"
      color="primary"
      [disabled]="isUnchanged() || dialogRef.disableClose"
    >
      Speichern
    </button>
  </mat-dialog-actions>
</div>
