<div class="flex flex-col gap-2">

    <div class="flex flex-row justify-between">
        <div class="flex flex-row gap-2">
            <button matButton (click)="accordion().openAll()">Alles ausklappen</button>
            <button matButton (click)="accordion().closeAll()">Alles einklappen</button>
        </div>
        <button matButton color="warn" (click)="clearAllFilters()">Reset</button>
    </div>
    <mat-accordion class="example-headers-align" multi>

        @for (filter of filters; track $index) {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="font-bold text-base">{{ filter.title }}</mat-panel-title>
            </mat-expansion-panel-header>

            @switch (filter.type) {
            @case ('date-range') {
            <app-date-range-picker card-content [minDate]="filter.data?.minDate ?? null"
                [maxDate]="filter.data?.maxDate ?? null" [(dateRange)]="dateRanges[filter.key]"></app-date-range-picker>
            }
            @case ('select') {
            <app-chip-selection card-content [inputLabel]="filter.data?.inputLabel ?? filter.title"
                [inputPlaceholder]="filter.data?.inputPlaceholder ?? ''"
                [(items)]="chips[filter.key]"></app-chip-selection>
            }
            @case ('range') {
            <app-range-selection-slider card-content [minValue]="filter.data?.minValue ?? 0"
                [maxValue]="filter.data?.maxValue ?? 1"
                [(selectedRange)]="ranges[filter.key]"></app-range-selection-slider>
            }
            }

        </mat-expansion-panel>
        }

    </mat-accordion>

</div>
