<div class="flex flex-col mx-6 my-2 gap-8">

    <div class="flex flex-row justify-between gap-2">

        <div class="flex flex-col xl:flex-row justify-between w-full min-w-fit gap-4">
            <div class="flex flex-col items-start min-w-fit">
                <h1 class="font-semibold text-2xl mb-2">{{order().orderDisplay.content_description}}</h1>

                <span class="min-w-fit">
                    Bestellnummer:
                    <button matButton color="primary" class="w-fit"
                        [cdkCopyToClipboard]="order().orderDisplay.besy_number" matTooltip="Bestellnummer kopieren">
                        {{order().orderDisplay.besy_number}}
                    </button>
                </span>
                <span class="min-w-fit">
                    ID:
                    <button matButton color="primary" class="w-fit" [cdkCopyToClipboard]="currentUrl()"
                        matTooltip="Link kopieren">
                        #&nbsp;{{order().order.id}}
                    </button>
                </span>

            </div>

            <div class="flex flex-col min-w-fit -ml-1.5 xl:ml-0">
                <app-person-details [personId]="order().order.owner_id ?? 0" [isUserId]="true" />
                <h3 class="text-md text-gray-600 ml-1.5">
                    Besteller:in
                </h3>
            </div>

        </div>

        <a mat-button color="primary" [routerLink]="['/orders', order().order.id, 'edit']"
            [disabled]="order().order.status !== orderStates.IN_PROGRESS">Bearbeiten</a>
    </div>

    <app-state-controller [order]="order().order" />

    <mat-divider class="bg-he-red-200" />


    <div class="flex flex-col gap-12">

        <app-order-main-information [orderData]="order()" />


        <div class="flex flex-wrap gap-4 h-fit">

            @for (section of sections; track section.id) {
            <div [class]="'mb-12 ' + (section.isFullWidth ? 'w-full' : 'grow')">

                <h3 class="text-2xl mb-2">{{section.title}}</h3>
                <mat-divider class="bg-he-red-200 !mb-2" />

                @switch (section.id) {
                @case ('quotations') { <app-quotations-list [orderId]="order().order.id!" /> }
                @case ('documents') { <app-order-documents [order]="order().order" /> }
                @case ('contacts') { <app-order-persons [order]="order().order" /> }
                @case ('approvals') { <app-approvals [orderId]="order().order.id!" /> }
                @case ('history') { <app-state-history [order]="order().order" /> }
                }

            </div>
            }

        </div>


    </div>

</div>
