<div class="flex flex-col pl-4 pr-4 gap-4 m-2">
    <!-- Header Section -->
    <div class="flex justify-between">

        <div class="flex flex-col items-start gap-2">
            <h1 class="font-semibold text-2xl">{{order().orderDisplay.content_description}}</h1>
            <h2>Bestellnummer:&nbsp;{{order().orderDisplay.besy_number}}</h2>
            <h2>#&nbsp;{{order().order.id}}</h2>
        </div>

        <a mat-button color="primary" [routerLink]="['/orders', order().order.id, 'edit']"
            [disabled]="order().order.status !== orderStates.IN_PROGRESS">Bearbeiten</a>
    </div>


    <mat-tab-group #tabGroup dynamicHeight mat-stretch-tabs="true" mat-align-tabs="start">

        <mat-tab label="Allgemeine Informationen">
            <mat-divider class="bg-gray-500" />

            <div class="mt-2">
                <app-order-details [orderData]="order()" />
            </div>

        </mat-tab>

        <mat-tab label="Beteiligte Personen">
            <mat-divider class="bg-gray-500" />

            <div class="flex flex-wrap justify-evenly gap-16 mt-2">

                @for (personId of personMappings.keys(); track $index) {
                <div class="flex flex-row gap-4">

                    <div class="flex flex-col gap-2 items-end">
                        @for (role of personMappings.get(personId); track $index) {
                        <h2 class="text-xl font-semibold">{{orderFieldNames[role]}}</h2>
                        }
                    </div>

                    <app-person-details [personId]="personId"></app-person-details>
                </div>
                }

            </div>
        </mat-tab>

        <mat-tab label="Hauptangebot">
            <mat-divider class="bg-gray-500" />

            <div class="mt-2">
                <app-order-article-list [order]="order()" />
            </div>

        </mat-tab>

        <mat-tab label="Vergleichsangebote">
            <mat-divider class="bg-gray-500" />

            <div class="mt-2">
                <app-quotations-list [orderId]="order().order.id ?? 0" />
            </div>
        </mat-tab>

        <mat-tab label="Freigaben">
            <mat-divider class="bg-gray-500" />

            <div class="mt-2">
                <app-approvals [orderId]="order().order.id ?? 0" />
            </div>
        </mat-tab>

    </mat-tab-group>

</div>
