/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './styles.css';

.mat-mdc-tab-body-content {
  overflow: visible !important;
  height: auto !important;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.form-field-overrides((filled-container-color: rgba(0, 0, 0, 0.113),
      filled-container-shape: rounded));

  @include mat.table-overrides((header-headline-color: var(--color-he-darkblue),
      header-headline-line-height: 40px, // header height
      header-headline-tracking: 0.05em,
      background-color: var(--color-he-darkblue-100), // header background color,
    ));

  @include mat.paginator-overrides((container-text-color: var(--color-he-darkblue),
      container-background-color: var(--color-he-darkblue-100),
    ));

}
