.create-order-page {

  min-height: 100vh;
}

.form-container {
  background-image: url('/assets/pics/5426.jpg');

  background-size: cover;
  background-position: center;

  min-height: 100vh;

}

.main-offer-container,
.supplier-decision-reason-container {
  display: flex;
  justify-content: center;
}

.main-offer-container > div,
.supplier-decision-reason-container > div {
  width: 100%;
  max-width: 50%; /* optional, für saubere Ausrichtung */
}
