<h2 mat-dialog-title>Dokument hochladen</h2>
<mat-dialog-content>
    <h3 class="mb-2">Bitte wählen Sie ein Dokument zum Hochladen aus.</h3>

    <div class="-mt-12 -ml-8 -mr-8 -mb-8 w-full overflow-x-hidden">
        <app-form-component [config]="documentFormConfig" [formGroup]="documentFormGroup" />
    </div>

    <form class="flex flex-col gap-2 mb-8">

        <label for="radio-buttons" id="radio-button-label">
            Bestehendes Dokument verknüpfen?
        </label>
        <mat-radio-group id="radio-buttons" aria-labelledby="radio-button-label" [formControl]="linkExistingDocument"
            class="flex flex-row mt-2 mb-4">
            <mat-radio-button class="mr-4" [value]="true">
                Ja
            </mat-radio-button>
            <mat-radio-button [value]="false">
                Nein
            </mat-radio-button>
        </mat-radio-group>

        @if (linkExistingDocument.value) {
        <mat-form-field>
            <mat-label>Bestehende Paperless-ID eingeben</mat-label>
            <input matInput type="number" [formControl]="existingDocumentId" [required]="linkExistingDocument.value">
        </mat-form-field>

        } @else {
        <button mat-raised-button color="primary" class="w-fit" (click)="fileInput.click()">
            @if (selectedFile()) {
            Datei ändern
            } @else {
            Datei auswählen
            }
        </button>

        <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept=".pdf"
            [required]="!linkExistingDocument.value">
        <span class="ml-4">{{selectedFile()?.name}}</span>
        }
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close>Abbrechen</button>
    <button mat-flat-button color="primary" (click)="onUpload()" [disabled]="!isValid()">Hochladen</button>
</mat-dialog-actions>
