<div class="flex flex-col md:flex-row gap-12 md:gap-24">

    <div class="grid grid-cols-[max-content_1fr] gap-x-16 gap-y-4">
        @for (field of generalDetailsFields; track $index) {
        <h3 class="font-semibold">{{orderFieldLabels[field]}}:</h3>
        <p>{{orderData().orderDisplay[field]}}</p>
        }
    </div>

    <div class="flex flex-wrap md:flex-col gap-16 md:gap-8">
        <div>
            <h3 class="font-semibold text-lg mb-2">Lieferadresse:</h3>
            <app-address-display [addressId]="orderData().order.delivery_address_id ?? -1" />
        </div>
        <div>
            <h3 class="font-semibold text-lg mb-2">Rechnungsadresse:</h3>
            <app-address-display [addressId]="orderData().order.invoice_address_id ?? -1" />
        </div>
    </div>

</div>
