.form-limiter {
  max-width: 95%;
  /* margin: 20px auto; */
   padding: 10px;
  border-radius: 8px;
  background: radial-gradient(circle, #9bb9d7, #ffffff);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-spacing {
  padding: 16px;
  background-color: rgb(255, 255, 255);
}

.entity-container {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.entity-titles {
  width: 25%;
  padding: 8px;
  font-weight: 500;
  vertical-align: top;
  padding-top: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 20px;
}

mat-form-field {
  width: 50%;
}

h4 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

mat-divider {
  margin-bottom: 20px;
}

.shake {
  animation: shake 0.2s ease-in-out;
  animation-iteration-count: infinite;
  color: red;
  font-weight: bold;
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); background-color: #d32f2f;}
  25% { transform: translate(5px, 5px) rotate(5deg); background-color: #d32f2f; }
  50% { transform: translate(0, 0) rotate(0deg); background-color: #d32f2f;}
  75% { transform: translate(-5px, 5px) rotate(-5deg); background-color: #d32f2f;}
  100% { transform: translate(0, 0) rotate(0deg); background-color: #d32f2f;}
}
