<div
    class="dropzone border-he-darkblue-200 rounded-md bg-[#e2e2e2] w-4/5 p-8 text-center border-2 border-dashed relative">
    <button mat-raised-button color="primary" class="w-fit z-10" (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
        @if (selectedFile()) {
        Datei ändern
        } @else {
        Datei auswählen
        }
    </button>

    <input (change)="onFileSelected($event)" #fileInput type="file" [accept]="accept()" [required]="required()">

    <span class="ml-4">{{selectedFile()?.name}}</span>
</div>